/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*                KEY POSITIONS
*    ╭─────────────────────╮ ╭─────────────────────╮
*    │ 00  01  02  03  04  │ │ 05  06  07  08  09  │
*    │ 10  11  12  13  14  │ │ 15  16  17  18  19  │
*    │ 20  21  22  23  24  │ │ 25  26  27  28  29  │
*    ╰───────────╮ 30  31  │ │ 32  33  ╭───────────╯
                 ╰─────────╯ ╰─────────╯ */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

// -----------------------------------------------------------------------------------------
// define layout

#define LINUX  0
#define MAC    1
#define THAI   2
#define SYM    3
#define NUM    4
#define MEDIA  5
#define FN     6
#define MOUSE  7
#define NAV    8

#define XXX &none

&led_strip {
    chain-length = <23>;
};
&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};


/ { 


        keymap {
                compatible = "zmk,keymap";

       		default_layer {
		bindings = <
		&kp Q &kp W &kp E &kp R &kp T 						&kp Y &kp U  &kp I    &kp O   &kp P 
		&kp A &kp S &kp D &kp F &kp G 			        	        &kp H &kp J &kp K &kp L &kp QUOT
		&mt LSFT Z &kp X &kp C &kp V &kp B				        &kp N &kp M  &kp CMMA &kp DOT &mt LSFT RET
          				XXX &kp LCTL  				&kp SPC XXX 
		>;
		};


	};
};
